{{!-- <!-- Loop over each object in the calorieInputs array -->
{{#each calorieInputs as |calorieInput| }}
<div class="row mb-4 calorieInput" data-aos="fade-up">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/calorieInput/{{calorieInput.id}}">{{calorieInput.food_name}}</a>
    </h2>
    <p>
      <!-- Pass needed_funding value to the helper function -->
      <span class="calorie_amount">{{calorieInput.calorie_amount}}</span>
      calories consumed
    </p>
    <p>{{calorieInput.food_name}}</p>
    <p>Created by {{calorieInput.user.name}} on {{format_date calorieInput.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{calorieInput.description}}
    </p>
  </div>
</div>

{{/each}} --}}
<main class="profile">
  <div class="container">
    <div class="row">
      <div class="col-9 delete-item" data-aos="fade-right">
        {{#each calorieInputs as |calorieInput| }}
        <div class="row bg-secondary my-3 text-white rounded">
          <div class=" col-sm-7">
            <h3>{{calorieInput.food_name}}</h3>
            <p>Calories: {{calorieInput.calorie_amount}}</p>
            <p>{{format_date calorieInput.date_created}}</p>
          </div>
          <div class="col-sm-5">
            <button data-id="{{calorieInput.id}}" class="p-1 m-2 btn btn-danger">Delete</button>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="col-3" data-aos="zoom-in" style="color: white; text-shadow: 1px 1px 1px black; padding-top: 15px">
        <h1>Food?</h1>
        <input type="text" id="food_name" />
        <h1>Calories?</h1>
        <input type="text" id="calorie_amount" />
        <br>
        <button id="calorieSubmit" data-aos="flip-right" class="p-2 m-3 btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</main>

{{!-- <form class="form new-project-form">
  <div class="form-group">
    <label for="project-name">project name:</label>
    <input class="form-input" type="text" id="project-name" name="project-name" />
  </div>
  <div class="form-group">
    <label for="project-funding">needed funding ($):</label>
    <input class="form-input" type="number" id="project-funding" name="project-funding" />
  </div>
  <div class="form-group">
    <label for="project-desc">description:</label>
    <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
</div>--}}
<script src="js/profile.js"></script>